<a href="https://colab.research.google.com/github/Aditya112008/Project127/blob/main/PRO127.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

In [2]:

bright_stars_url = 'https://en.wikipedia.org/wiki/List_of_brightest_stars_and_other_record_stars'

page = requests.get(bright_stars_url)
print(page)

soup = bs(page.text,'html.parser')

star_table = soup.find('table')

<Response [200]>

In [3]:
temp_list= []
table_rows = star_table.find_all('tr')
for tr in table_rows:
    td = tr.find_all('td')
    row = [i.text.rstrip() for i in td]
    temp_list.append(row)



Star_names = []
Distance =[]
Mass = []
Radius =[]
Lum = []

for i in range(1,len(temp_list)):
    Star_names.append(temp_list[i][1])
    Distance.append(temp_list[i][3])
    Mass.append(temp_list[i][5])
    Radius.append(temp_list[i][6])
    Lum.append(temp_list[i][7])
    
df2 = pd.DataFrame(list(zip(Star_names,Distance,Mass,Radius,Lum)),columns=['Star_name','Distance','Mass','Radius','Luminosity'])
print(df2)

df2.to_csv('bright_stars_1.csv')

           Star_name         Distance   Mass         Radius   Luminosity
0                Sun      0.000015813      1              1            1
1             Sirius           0008.6    2.1          1.71´         25.4
2            Canopus             0310     15             71       13,500
3     Alpha Centauri           0004.4    1.1            1.2            2
4           Arcturus             0037    1.1             26          170
..               ...              ...    ...            ...          ...
92           WOH G64         0163,000    <20  1,540 - 1,730  340-589,000
93        TRAPPIST-1            039.6  0.089           0.12       0.0005
94  2MASS J0523-1403            040.3   0.07          0.086      0.00013
95    WISE 0855−0714            07.27  0.003              ?            ?
96            Icarus  014,400,000,000     33              ?      850,000

[97 rows x 5 columns]